<form class="k-form"  *ngIf="hardenabilityRange">
	<kendo-stacklayout orientation="horizontal" [gap]="12">
		<kendo-card [style.flex]="6" >
			<kendo-card-header i18n>
			  Material Data
			</kendo-card-header>
			<kendo-card-body class="chem-details-body">
				<kendo-stacklayout orientation="horizontal" [gap]="9">
					<kendo-label [for]="custom_id" i18n i18n-text text="DIN Norm"> <span class="k-text-error k-pl-1">*</span></kendo-label>
					<div>
						<kendo-textbox #custom_id
							name="custom_id"
							[(ngModel)]="hardenabilityRange.custom_id"
                            [disabled]="isAllDisabled || disabledCustomId"
						>
						</kendo-textbox>
						<div *ngIf="submitted && !hardenabilityRange.custom_id" class="k-text-error k-fs-sm" i18n>
							DIN Norm  is required.
						</div>
					</div>
				</kendo-stacklayout>

                <kendo-stacklayout orientation="horizontal"  class="calculation-tab" [gap]="9">
					<label [for]="material"  i18n>Material <span class="k-text-error k-pl-1">*</span> </label>

					<div>
                        <kendo-multiselect
                            #certificate
                            [(ngModel)]="hardenabilityRange.materials"
                            name="material"
                            [data]="materials"
                            textField="custom_id"
                            valueField="id"
                            [style.width]="'100%'"
                            [filterable]="true"
                            (filterChange)="handleFilter($event,'materials')"
                            [disabled]="isAllDisabled"
                        >
                        </kendo-multiselect>

					</div>
				</kendo-stacklayout>

                <kendo-stacklayout orientation="horizontal" [gap]="9">
					<kendo-label [for]="with_applicable_standard" i18n i18n-text text="With Applicable Standard"> </kendo-label>

                        <kendo-textbox #with_applicable_standard name="with_applicable_standard"
                            [(ngModel)]="hardenabilityRange.with_applicable_standard"
                            [disabled]="isAllDisabled"
                        >
                        </kendo-textbox>

				</kendo-stacklayout>

                <kendo-stacklayout orientation="horizontal" [gap]="9">
					<kendo-label [for]="jominy_batch" i18n i18n-text text="Jominy Batch"></kendo-label>
					<div>
						<kendo-combobox
							#jominy_batch
							[(ngModel)]="hardenabilityRange.jominy_batch"
							[data]="jominyBatchData"
							textField="text"
							valueField="value"
                            [valuePrimitive]="true"
							name="jominy_batch"
                            [ngModelOptions]="{standalone: true}"
                            [disabled]="isAllDisabled"
						>
					   </kendo-combobox>
					</div>
				</kendo-stacklayout>
				<kendo-stacklayout orientation="horizontal" [gap]="9">
					<kendo-label [for]="note" i18n i18n-text text="Note"></kendo-label>
					<kendo-textarea #note
						name="note"
						[style.width]="'50%'"
						[(ngModel)]="hardenabilityRange.note"
                        [disabled]="isAllDisabled"
					>
					</kendo-textarea>
				</kendo-stacklayout>


			</kendo-card-body>
		</kendo-card>
    </kendo-stacklayout>
	<kendo-card style="width: 100%; margin-top: 12px">
        <kendo-card-body class="j-min-max">
            <kendo-stacklayout orientation="vertical" [gap]="9">
                <kendo-stacklayout orientation="horizontal" [gap]="9">
                    <div i18n style="text-align: left;">mm</div>
                    <div i18n>1,5</div>
                    <div>3</div>
                    <div>5</div>
                    <div>7</div>
                    <div>9</div>
                    <div>10</div>
                    <div>11</div>
                    <div>13</div>
                    <div>15</div>
                    <div>20</div>
                    <div>25</div>
                    <div>30</div>
                    <div>35</div>
                    <div>40</div>
                    <div>45</div>
                    <div>50</div>
                </kendo-stacklayout>

                <kendo-stacklayout orientation="horizontal" class="input-field" [gap]="9">
                    <div i18n style="text-align: left;">HRC min</div>
                    <kendo-numerictextbox [step]="0.1" #value_1_5_min name="value_1_5_min" [(ngModel)]="hardenabilityRange.value_1_5_min" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_3_min name="value_3_min" [(ngModel)]="hardenabilityRange.value_3_min" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_5_min name="value_5_min" [(ngModel)]="hardenabilityRange.value_5_min" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_7_min name="value_7_min" [(ngModel)]="hardenabilityRange.value_7_min" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_9_min name="value_9_min" [(ngModel)]="hardenabilityRange.value_9_min" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_10_min name="value_10_min" [(ngModel)]="hardenabilityRange.value_10_min" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_11_min name="value_11_min" [(ngModel)]="hardenabilityRange.value_11_min" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_13_min name="value_13_min" [(ngModel)]="hardenabilityRange.value_13_min" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_15_min name="value_15_min" [(ngModel)]="hardenabilityRange.value_15_min" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_20_min name="value_20_min" [(ngModel)]="hardenabilityRange.value_20_min" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_25_min name="value_25_min" [(ngModel)]="hardenabilityRange.value_25_min" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_30_min name="value_30_min" [(ngModel)]="hardenabilityRange.value_30_min" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_35_min name="value_35_min" [(ngModel)]="hardenabilityRange.value_35_min" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_40_min name="value_40_min" [(ngModel)]="hardenabilityRange.value_40_min" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_45_min name="value_45_min" [(ngModel)]="hardenabilityRange.value_45_min" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_50_min name="value_50_min" [(ngModel)]="hardenabilityRange.value_50_min" [disabled]="isAllDisabled"></kendo-numerictextbox>
                </kendo-stacklayout>

                <kendo-stacklayout class="input-field" orientation="horizontal" [gap]="9">
                    <div i18n style="text-align: left;">HRC max</div>
                    <kendo-numerictextbox [step]="0.1" #value_1_5_max name="value_1_5_max" [(ngModel)]="hardenabilityRange.value_1_5_max" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_3_max name="value_3_max" [(ngModel)]="hardenabilityRange.value_3_max" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_5_max name="value_5_max" [(ngModel)]="hardenabilityRange.value_5_max" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_7_max name="value_7_max" [(ngModel)]="hardenabilityRange.value_7_max" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_9_max name="value_9_max" [(ngModel)]="hardenabilityRange.value_9_max" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_10_max name="value_10_max" [(ngModel)]="hardenabilityRange.value_10_max" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_11_max name="value_11_max" [(ngModel)]="hardenabilityRange.value_11_max" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_13_max name="value_13_max" [(ngModel)]="hardenabilityRange.value_13_max" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_15_max name="value_15_max" [(ngModel)]="hardenabilityRange.value_15_max" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_20_max name="value_20_max" [(ngModel)]="hardenabilityRange.value_20_max" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_25_max name="value_25_max" [(ngModel)]="hardenabilityRange.value_25_max" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_30_max name="value_30_max" [(ngModel)]="hardenabilityRange.value_30_max" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_35_max name="value_35_max" [(ngModel)]="hardenabilityRange.value_35_max" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_40_max name="value_40_max" [(ngModel)]="hardenabilityRange.value_40_max" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_45_max name="value_45_max" [(ngModel)]="hardenabilityRange.value_45_max" [disabled]="isAllDisabled"></kendo-numerictextbox>
                    <kendo-numerictextbox [step]="0.1" #value_50_max name="value_50_max" [(ngModel)]="hardenabilityRange.value_50_max" [disabled]="isAllDisabled"></kendo-numerictextbox>
                </kendo-stacklayout>
            </kendo-stacklayout>
        </kendo-card-body>
    </kendo-card>
</form>

<app-loader *ngIf="isLoaderEnabled"></app-loader>