<kendo-grid-component 
    [gridItems]="gridItems"
    [columns]="columns"
    [state]="state"
    [isLoadedEnabled]="isLoadedEnabled"
    [isSortable]="isSortable"
    [isFilterable]="isFilterable"
    [isGroupable]="isGroupable"
    [isPageable]="isPageable"
    [toolbarConfig]="toolbarConfig"
    (emitState)="changeState($event)"
    [editView]="editView"
    (gridRefersh)="sendRequest()"
    (deleteDataItem)="deleteDataItem($event)"
    (filterState)="changeGridFilter($event)"
>
<ng-template #gridColumnContent let-column="column" let-dataItem="dataItem">
    <ng-container *ngIf="column.name == 'type'">
        <div>{{ getEnumTranslateGrid('type', dataItem.type) }}</div>
    </ng-container>
</ng-template>
</kendo-grid-component>
