# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc
/frontend/bazel-out
/frontend/.angular

/frontend-sap/dist
/frontend-sap/tmp
/frontend-sap/out-tsc
/frontend-sap/bazel-out
/frontend-sap/.angular
/frontend-sap/node_modules/.package-lock.json


# Node
/frontend/node_modules
/frontend-sap/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db


#Backend related stuff
/backend/node_modules
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/vendor
/backend/.env
/backend/.env.backup
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/auth.json

#Schertech Theme related stuff
/frontend/schertech-theme/node_modules
/frontend/schertech-theme/node_modules/*
/deploy.sh

# Frontend configuration
/frontend/**/environment.ts
/frontend/**/environment.development.ts
/frontend/**/firebase-messaging-sw.js
/frontend/**/manifest.json

/frontend-sap/**/environment.ts
/frontend-sap/**/environment.development.ts
/frontend-sap/**/config.json
/frontend-sap/**/firebase-messaging-sw.js
/frontend-sap/**/manifest.json