:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.detail {
  flex: 1;
  min-width: 0;
}

.placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.master-detail {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 12px;
}
