<div class="grid grid-cols-1 sm:grid-cols-2 gap-1 lg:grid-cols-4 h-full shadow-lg rounded-lg">
	<div class="relative flex flex-col gap-1">
		<div class="h-[38vh]">
			<ui5-busy-indicator [delay]="0" [active]="IsLoading" class="h-full w-full">
				<ui5-card class="h-full">
					<ui5-bar design="Header">
						<ui5-title i18n-title slot="startContent" level="H5" size="H5" i18n>
							Total Issues
						</ui5-title>
					</ui5-bar>

					<div class="grid grid-cols-3 w-full text-center mt-2">
						<div class="flex flex-col">
							<span i18n>Total Issues</span>
							<span i18n class="text-blue-600 text-3xl">{{ DetailLists.length }}</span>
						</div>

						<div class="flex flex-col">
							<span i18n>Urgent</span>
							<span i18n class="text-red-600 text-3xl">234</span>
						</div>

						<div class="flex flex-col">
							<span i18n>Not Urgent</span>
							<span i18n class="text-green-600 text-3xl">234</span>
						</div>
					</div>

					<div class="chart m-auto mt-2">
						<div #chartdiv class="w-full xl:h-[18vh] 2xl:h-[20vh] m-auto">
						</div>
					</div>
					<div class="grid px-3 mt-3 w-full grid-cols-3">
						<div class="flex items-center">
							<ui5-color-palette>
								<ui5-color-palette-item value="#071de6" />
							</ui5-color-palette>
							<ui5-label i18n>Total</ui5-label>
						</div>

						<div class="flex items-center">
							<ui5-color-palette>
								<ui5-color-palette-item value="#e60712" />
							</ui5-color-palette>
							<ui5-label i18n>Urgent</ui5-label>
						</div>

						<div class="flex items-center">
							<ui5-color-palette>
								<ui5-color-palette-item value="#07b00d" />
							</ui5-color-palette>
							<ui5-label i18n>Not Urgent</ui5-label>
						</div>
					</div>
				</ui5-card>
			</ui5-busy-indicator>
		</div>

		<div class="h-[54vh]">
			<ui5-card class="h-full">
				<ui5-bar design="Header">
					<ui5-title slot="startContent" level="H5" size="H5" i18n i18n-title>Issues responsible(29)
					</ui5-title>

					<ui5-button design="Transparent" slot="endContent" i18n i18n-title>20 of 23</ui5-button>
				</ui5-bar>

				<ui5-list>
					<ui5-li-custom class="border-none mt-2">
						<div class="flex items-center justify-between w-full">
							<div class="flex items-center gap-2">
								<ui5-avatar initials="XS" size="XS"></ui5-avatar>
								<div class="flex flex-col">
									<ui5-title level="H5" size="H5" i18n i18n-title>Alexander Holzer</ui5-title>
									<ui5-label class="text-xs" i18n>
										3135435
									</ui5-label>
								</div>
							</div>
							<ui5-label i18n>56 issue</ui5-label>
						</div>
					</ui5-li-custom>

					<ui5-li-custom class="border-none mt-2">
						<div class="flex items-center justify-between w-full">
							<div class="flex items-center gap-2">
								<ui5-avatar initials="AH" color-scheme="Accent1" size="XS"></ui5-avatar>
								<div class="flex flex-col">
									<ui5-title level="H5" size="H5" i18n i18n-title>Elias abraham</ui5-title>
									<ui5-label class="text-xs" i18n>56 issue</ui5-label>
								</div>
							</div>
							<ui5-label i18n>22 issue</ui5-label>
						</div>
					</ui5-li-custom>

					<ui5-li-custom class="border-none mt-2">
						<div class="flex items-center justify-between w-full">
							<div class="flex items-center gap-2">
								<ui5-avatar initials="AH" color-scheme="Accent2" size="XS"></ui5-avatar>
								<div class="flex flex-col">
									<ui5-title level="H5" size="H5" i18n i18n-title>Ashraf chowdhury</ui5-title>
									<ui5-label class="text-xs" i18n>512546</ui5-label>
								</div>
							</div>
							<ui5-label i18n>58 issue</ui5-label>
						</div>
					</ui5-li-custom>

					<ui5-li-custom class="border-none mt-2">
						<div class="flex items-center justify-between w-full">
							<div class="flex items-center gap-2">
								<ui5-avatar initials="AH" color-scheme="Accent3" size="XS"></ui5-avatar>
								<div class="flex flex-col">
									<ui5-title level="H5" size="H5" i18n i18n-title>Title</ui5-title>
									<ui5-label class="text-xs" i18n>56254</ui5-label>
								</div>
							</div>
							<ui5-label i18n>56 issue</ui5-label>
						</div>
					</ui5-li-custom>

					<ui5-li-custom class="border-none mt-2">
						<div class="flex items-center justify-between w-full">
							<div class="flex items-center gap-2">
								<ui5-avatar initials="AH" color-scheme="Accent4" size="XS"></ui5-avatar>
								<div class="flex flex-col">
									<ui5-title level="H5" size="H5" i18n i18n-title>Biprojirt roy</ui5-title>
									<ui5-label class="text-xs" i18n>56214</ui5-label>
								</div>
							</div>
							<ui5-label i18n>57 issue</ui5-label>
						</div>
					</ui5-li-custom>

					<ui5-li-custom class="border-none mt-2">
						<div class="flex items-center justify-between w-full">
							<div class="flex items-center gap-2">
								<ui5-avatar initials="AH" color-scheme="Accent1" size="XS"></ui5-avatar>
								<div class="flex flex-col">
									<ui5-title level="H5" size="H5" i18n i18n-title>Theodor sherer</ui5-title>
									<ui5-label class="text-xs" i18n>56 issue</ui5-label>
								</div>
							</div>
							<ui5-label i18n>88 issue</ui5-label>
						</div>
					</ui5-li-custom>
				</ui5-list>
			</ui5-card>
		</div>
	</div>

	<div class="card grid gap-1 col-span-3">
		<div class="grid grid-cols-3 gap-1">
			<div class="h-full">
				<ui5-card class="h-full">
					<ui5-bar design="Header">
						<ui5-title slot="startContent" level="H5" size="H5" i18n i18n-title>Machine</ui5-title>
						<ui5-label design="Transparent" slot="endContent" i18n>20.08.2024</ui5-label>
					</ui5-bar>

					<div class="p-4 space-y-4 mt-5">
						<div class="flex items-center space-x-3" *ngFor="let items of issues; let i = index">
							<div class="w-28 text-sm font-medium" i18n>{{ items.label }}</div>
							<div class="flex-1 bg-gray-200 rounded h-2 overflow-hidden">
								<div i18n [ngClass]="items.bgcolor" class="h-full"
									[style]="'width:' + items.percentage + '%'"></div>
							</div>
							<div [ngClass]="items.textcolor" class="w-10 text-sm font-semibold text-right" i18n>{{
								items.percentage }}%</div>
						</div>
					</div>
				</ui5-card>
			</div>
			<div class="col-span-2">
				<ui5-card class="h-full">
					<ui5-bar design="Header">
						<ui5-title slot="startContent" level="H5" size="H5" i18n i18n-title>Overall Views</ui5-title>
					</ui5-bar>

					<div #stockchart class="w-full h-[18vh]">
					</div>
				</ui5-card>
			</div>
		</div>

		<div class="row-span-3 rounded-lg overflow-hidden">
			<app-grid-table [headerTitle]="'All Issues'" [url]="'/ShiftVisuOverviewDetails'"
				expandQuery="$expand=hall,creator,error,componentOptions,chat($expand=messages($expand=sender))"
				[filterQuery]="''" [model]="" [columns]="columns" [showAction]="false" [showSearch]="false"
				[showActiveButton]="false" [showTableSettingBtn]="true" addButtonText="New" i18n-addButtonText
				i18n-extraButtonText [showDownload]="true" [showNewButton]="false" [addButtonDisable]="false"
				[showExtraButton]="false" [isBaseVisu]="true" [showDeleteButton]="false"
				[enableServerSideFiltering]="true" selectionMode="Single"
				keyForCacheCustomDataTableColumns="ShiftvisuOverviewdetails" #ShiftvisuOverviewdetails
				(processData)="processData($event)"></app-grid-table>
		</div>
	</div>
</div>

<app-server-issues-view [isOpenView]="openIssueViewer"></app-server-issues-view>