<kendo-grid-component 
    [gridItems]="gridItems"
    [columns]="columns"
    [state]="state"
    [isLoadedEnabled]="isLoadedEnabled"
    [isSortable]="isSortable"
    [isFilterable]="isFilterable"
    [isGroupable]="isGroupable"
    [isPageable]="isPageable"
    [toolbarConfig]="toolbarConfig"
    (emitState)="changeState($event)"
    (emitData)="changeState($event)"
    (gridRefersh)="sendRequest()"
    (deleteDataItem)="deleteDataItem($event)"
    [editView]="editView"
    (filterState)="changeGridFilter($event)"
>
<ng-template #toolBarBeforeSearchContent>
    <kendo-datepicker 
		[(ngModel)]="filterDate" format="dd.MM.yyyy" (ngModelChange)="fetchData()">
	</kendo-datepicker>
  </ng-template>
  <ng-template #gridColumnContent let-column="column" let-dataItem="dataItem">
    <ng-container *ngIf="column.name == 'cost_calc_type'">
        <div>{{ getEnumTranslateGrid('cost_calc_type', dataItem.cost_calc_type) }}</div>
    </ng-container>
</ng-template>
</kendo-grid-component>