.order-card {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: var(--card-background-color);
	height: 44px;
	gap: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: var(--card-background-color);
	height: 44px;
	gap: 8px;
}

.label-style {
	font-size: var(--title-text-font-size);
	color: var(--list-description-text-color);
}

.border-top {
	border-top: var(--card-border-color);
}
