<div class="tableStandard">
	<app-grid-table
		headerTitle="Item State Groups"
		url="/ItemStateGroups"
		i18n-headerTitle
		[showRowDataCount]="true"
		[columns]="columns"
		[showAction]="true"
		[showDownload]="false"
		[editPermission]="authService.isPermissionValid('BASEVISU_ITEM_STATE_GROUP_EDIT')"
		addButtonText="New"
		i18n-addButtonText
		[showNewButton]="true"
		button1Text="All"
		button2Text="Inactive"
		button3Text="Active"
		i18n-button1Text
		i18n-button2Text
		i18n-button3Text
		[showActiveButton]="true"
		[isBaseVisu]="true"
		(newButtonClick)="newButtonClick()"
		(editClick)="editClick($event)"
		(deleteClick)="deleteClick($event)"
		[showSearch]="true"
		[enableServerSideFiltering]="true"
		selectionMode="Single"
		sortBy="custom_id"
		#childComponentRef>
	</app-grid-table>
	<ui5-dialog
		id="deleteDialogItemStateGroup"
		header-text="Warning"
		state="Critical"
		i18n-header-text>
		<ui5-label class="sapTextColor">{{ localization.doYouWantToDeleteThisRecord }}</ui5-label>
		<div
			class="flex flex-column"
			*ngIf="isLoading">
			<ui5-busy-indicator
				[active]="isLoading"
				size="M">
			</ui5-busy-indicator>
		</div>
		<div
			slot="footer"
			class="footer-style gap-8">
			<ui5-button
				id="deleteOkButtonDialogItemStateGroup"
				class="dialogSubmit"
				design="Emphasized"
				(click)="deleteSubmit()"
				[disabled]="disableButtonDuringRequest"
				>{{ localization.ok }}</ui5-button
			>
			<ui5-button
				id="deleteCloseButtonDialogItemStateGroup"
				(click)="closeDialogDelete()"
				class="border-none"
				>{{ localization.close }}</ui5-button
			>
		</div>
	</ui5-dialog>
	
	<ui5-dialog
		#deleteErrorDialogItemStateGroup
		id="deleteErrorDialogItemStateGroup"
		state="Negative"
		header-text="Error">
		<p>{{ localization.someThingWentWrong }}</p>
		<div
			slot="footer"
			class="deleteErrorDialogFooter">
			<ui5-button
				class="dialogCloser"
				design="Transparent"
				(click)="closeDeleteErrorDialog()"
				>{{ localization.close }}</ui5-button
			>
		</div>
	</ui5-dialog>
</div>

<app-dialog
	id="addGroupDialog"
	[isDialogOpen]="isDialogOpen"
	[title]="dialogTitle"
	(onBeforeClose)="closeDialog()">
	<ui5-busy-indicator
		[active]="isLoading"
		size="L">
		<div class="w-[418px] form">
			<form
				(ngSubmit)="onSubmit(createOrUpdateForm)"
				#createOrUpdateForm="ngForm">
				<div class="flex">
					<div class="flex-column">
						<ui5-label show-colon>{{ localization.active }}</ui5-label>
						<ui5-switch
							(change)="onChangeIsActive($event)"
							[checked]="selectedItemStateGroup.is_active"
							class="mb-1"
							id="isActiveSwitch"></ui5-switch>
					</div>
				</div>
				<div class="flex-space-between mb-10 w-full">
					<div class="flex-column">
						<ui5-label
							show-colon
							required
							>{{ localization.id }}</ui5-label
						>
						<ui5-busy-indicator
							[active]="isLoadingCustomId"
							size="S">
							<ui5-input
								#customId="ngModel"
								class="w-full"
								[valueState]="
									customId.valid == false &&
									(customId.touched || createOrUpdateForm.submitted)
										? 'Negative'
										: customIdState
								"
								[(ngModel)]="selectedItemStateGroup.custom_id"
								id="customIdInput"
								name="custom_id"
								(input)="onChangeCustomId()"
								[required]="true">
								<div
									slot="valueStateMessage"
									>
									{{ customIdValueStateText }}
								</div>
							</ui5-input>
						</ui5-busy-indicator>
					</div>
					<div class="flex-column mb-10 mt-10">
						<ui5-label
							show-colon
							required
							>{{ localization.name }}</ui5-label
						>
						<ui5-input
							id="name"
							#nameInput="ngModel"
							class="w-full"
							[required]="true"
							[valueState]="
								nameInput.valid == false &&
								(nameInput.touched || createOrUpdateForm.submitted)
									? 'Negative'
									: 'None'
							"
							[(ngModel)]="selectedItemStateGroup.name"
							(change)="onChangeName($event)"
							name="name"></ui5-input>
					</div>
				</div>
			</form>
		</div>
	</ui5-busy-indicator>
	<div
		slot="footer"
		style="
			display: flex;
			align-items: center;
			justify-content: end;
			flex-direction: row;
			width: 100%;
		">
		<ui5-button
			design="Emphasized"
			id="saveButtonItemStateGroup"
			(click)="onSave()"
			[disabled]="disableButtonDuringRequest">
			{{ localization.save }}
		</ui5-button>
		<ui5-button
			class="ml-8 border-none"
			id="cancelButtonItemStateGroup"
			(click)="closeDialog()">
			{{ localization.close }}
		</ui5-button>
	</div>
</app-dialog>
