<div class="h-full w-full" *ngIf="selectedCustomer">
	<app-attachment-upload
		#reuseableAttachmentRef
		[model]="'Customer'"
		[uploadedFiles]="tempFiles"
		[deletedFiles]="deletedSavedFiles"
		[modelId]="selectedCustomer ? selectedCustomer.id : null"
		[checkNewFiles]="checkForNewAttachments"
		[fileCount]="attachmentCount"
		[isShowStandard]="false"
		[updatedStandardFile]="selectedStandardFile"
		(tempFilesChanged)="onAttachmentChanges($event, 'onUpload')"
		(deletedFilesChanged)="onAttachmentChanges($event, 'onDelete')"
		(standardFileSelected)="onAttachmentChanges($event, 'onStandardSelect')"
		(newFilesCount)="onAttachmentChanges($event, 'fileCount')"
		style="width: 100%; height: 100%">
	</app-attachment-upload>
</div>
