ui5-tabcontainer::part(content) {
	padding: 0;
	background-color: white;
}

ui5-tabcontainer::part(tabstrip) {
	padding: 0;
}

.label-style {
	font-size: var(--title-text-font-size);
	color: var(--list-description-text-color);
}
