:host ::ng-deep .ck.ck-editor__main > .ck-editor__editable {
	height: 29vh !important;
	overflow: auto;
}
#restartDate :host ::ng-deep .ui5-date-picker-root > .ui5-date-picker-input {
	width: auto !important;
}
:host ::ng-deep .editor-container {
	padding: 0 !important;
	border: none !important;
	border-radius: 0 !important;
}
:host ::ng-deep .ui5-tc-root > .ui5-tc__content {
	padding: 0 !important;
}

:host ::ng-deep .ui5-tc-root > .ui5-tc__content {
	padding: 0 !important;
}

ui5-dialog::part(content) {
   overflow: unset !important;
   box-sizing: border-box;
 }

 #chat::part(content) {
	padding-inline: 0;
	padding-top: 0;
	padding-bottom: 0;
}