<ui5-dialog (before-close)="closeDialog($event)" [open]="isDialogOpen">
	<ui5-bar
		slot="header"
		design="Header">
		<ui5-title
			level="H5"
			i18n
			slot="startContent">
			{{ this.selectedInspectionOperation?.name ? (this.baseTitle + " - " + this.selectedInspectionOperation?.name) : this.baseTitle }}
		</ui5-title>
	</ui5-bar>
	<div>
		<app-inspection-point-list [operationIds]="operationIds" (selectedInspectionOperationChanged)="setSelectedInspectionOperation($event)"></app-inspection-point-list>
	</div>
	<div
		slot="footer"
		class="footer-style gap-8">

		@if(!isUserBlocked || noOpenPointsAvailable) {
			<ui5-button
				design="Transparent"
				(click)="closeDialog($event)"
				>{{ localization.close }}</ui5-button
			>
		}
	</div>
</ui5-dialog>
