.order-card {
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
	background-color: var(--card-background-color);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0.5rem;
	border-radius: 0.5rem;
	height: 50%;
	gap: 8px;
}

.label-style {
	font-size: var(--title-text-font-size);
	color: var(--list-description-text-color);
}

@media (min-width: 2450px) {
	.custom-height {
	  height: 46% !important;
	}
}

@media (min-width: 2350px) and (max-width: 2400px) {
	.custom-height {
	  height: 49% !important;
	}
}

@media (min-width: 2050px) and (max-width: 2300px) {
	.custom-height {
	  height: 56% !important;
	}
}
