<kendo-grid-component 
    [gridItems]="gridItems"
    [columns]="columns"
    [state]="state"
    [isLoadedEnabled]="isLoadedEnabled"
    [isSortable]="isSortable"
    [isFilterable]="isFilterable"
    [isGroupable]="isGroupable"
    [isPageable]="isPageable"
    [toolbarConfig]="toolbarConfig"
    (emitState)="changeState($event)"
    [editView]="editView"
    (deleteDataItem)="deleteDataItem($event)"
    (gridRefersh)="sendRequest()"
    (filterState)="changeGridFilter($event)"
>
    <ng-template #gridColumnContent let-column="column" let-dataItem="dataItem">
        <ng-container *ngIf="column.name == 'name'">
            <div>{{ getEnumTranslateGrid('name', dataItem.name) }}</div>
        </ng-container>
    </ng-template>
</kendo-grid-component>
