<kendo-grid-component 
    [gridItems]="gridItems"
    [columns]="columns"
    [state]="state"
    [isLoadedEnabled]="isLoadedEnabled"
    [isSortable]="isSortable"
    [isFilterable]="isFilterable"
    [isGroupable]="isGroupable"
    [isPageable]="isPageable"
    [toolbarConfig]="toolbarConfig"
    (emitState)="changeState($event)"
    [editView]="editView"
    (deleteDataItem)="deleteDataItem($event)"
    (gridRefersh)="sendRequest()"
    (filterState)="changeGridFilter($event)"
>
    <ng-template #toolBarAfterSearchContent>
        <button kendoButton [primary]="true" (click)="import()" *ngIf="checkPermission(permissionEnum.HWEKALK_SALES_OPPORTUNITIES_IMPORT)" i18n>
            <span class="k-icon icon-import"></span> Import
        </button>
    </ng-template>
</kendo-grid-component>


