ui5-responsive-popover{
    margin-left: 90px !important;
    width: 230px;
    margin-top: -10px !important;

}

.responsive-dialog-footer {
    justify-content: end
}

.sapHoverColor {
    background-color: var(--sapHoverColor)
}

#popover::part(header) {
    display: flex;
    justify-content: center;
}