<div class="tableStandard">
    <app-grid-table headerTitle="Customer Categories" url="/CustomerCategories" i18n-headerTitle [columns]="columns" [showRowDataCount]="true"
        [showAction]="true" [showSearch]="true" [showDownload]="false" [showActiveButton]="true" button1Text="All"
        button2Text="Inactive" button3Text="Active" addButtonText="New" i18n-addButtonText i18n-button1Text
        i18n-button2Text i18n-button3Text [showNewButton]="true"
        [editPermission]="authService.isPermissionValid('BASEVISU_CUSTOMER_CATEGORY_EDIT')" [isBaseVisu]="true"
        (newButtonClick)="newButtonClick()" (deleteClick)="deleteClick($event)" (editClick)="editClick($event)" 
        [enableServerSideFiltering]="true" selectionMode="Single" sortBy="sort_order" #childComponentRef>
    </app-grid-table>
    <ui5-dialog id="deleteDialogCustomerCategory" header-text="Warning" state="Critical">
        <p>{{ localization.doYouWantToDeleteThisRecord }}</p>
        <div class="flex flex-col gap-[5px]">
            <ui5-busy-indicator [active]="isLoading" size="M">
            </ui5-busy-indicator>
        </div>
        <div slot="footer" class="footer-style gap-8">
            <ui5-button class="dialogSubmit" design="Emphasized" (click)="deleteSubmit()"
                [disabled]="disableButtonDuringRequest">{{ localization.ok }}</ui5-button>
            <ui5-button design="Transparent" (click)="closeDialogDelete()">{{ localization.close }}</ui5-button>
        </div>
    </ui5-dialog>
</div>
<app-dialog id="addGroupDialog" [isDialogOpen]="isDialogOpen" (onBeforeClose)="closeDialog()" [title]="dialogTitle">
    <ui5-busy-indicator [active]="isLoading" size="L">
        <form (ngSubmit)="onSubmit(createOrUpdateForm)" #createOrUpdateForm="ngForm">
            <div class="customer-group-dialog-body form w-[418px] h-[230px]">
                <div class="mb-10">
                    <div class="flex flex-col" *ngIf="selectedCustomerCategory">
                        <ui5-label show-colon>{{ localization.active }}</ui5-label>
                        <ui5-switch name="is_active" [(ngModel)]="selectedCustomerCategory.is_active" class="mb-10">
                        </ui5-switch>
                    </div>
                    <div class="flex flex-col gap-[5px]">
                        <ui5-label show-colon required>{{ localization.id }}</ui5-label>
                        <ui5-busy-indicator [active]="isLoadingCustomId" size="S">
                            <ui5-input #customId="ngModel" class="w-full" [(ngModel)]="selectedCustomerCategory.custom_id"
                                [valueState]="
									customId.valid == false &&
									(customId.touched || createOrUpdateForm.submitted)
										? 'Negative'
										: customIdState
								" (input)="onChangeCustomId()" name="custom_id" [required]="true"
                                id="customId">
                                <div slot="valueStateMessage">
                                    {{ customIdValueStateText }}
                                </div>
                            </ui5-input>
                        </ui5-busy-indicator>
                    </div>
                    <div class="flex flex-col gap-[5px] mt-10">
                        <ui5-label show-colon required>{{ localization.name }}</ui5-label>
                        <ui5-input 
                            required="true"
                            class="w-full"
                            id="name"
                            #nameInput="ngModel"
                            name="name"
                            [(ngModel)]="selectedCustomerCategory.name"
                            (change)="onChangeName($event)"
                            [valueState]="nameInput.valid == false &&
                                (nameInput.touched || createOrUpdateForm.submitted)
                                    ? 'Negative'
                                    : 'None'">
                        </ui5-input>
                    </div>
                    <div class="flex-col gap-[5px] mt-2">
                        <ui5-label show-colon i18n>Sort Order</ui5-label>
                        <ui5-input id="sort_order" class="w-full" pattern="^[0-9]*$" type="Number"
                            [(ngModel)]="selectedCustomerCategory.sort_order" name="sort_order">
                        </ui5-input>
                    </div>
                </div>
            </div>
        </form>
    </ui5-busy-indicator>
    <div slot="footer" class="dialog-footer">
        <ui5-button design="Emphasized" (click)="onSave()" [disabled]="disableButtonDuringRequest">
            {{ localization.save }}</ui5-button>
        <ui5-button class="ml-8" design="Transparent" (click)="closeDialog()">
            {{ localization.close }}</ui5-button>
    </div>
</app-dialog>

<ui5-dialog #errorDialogCustomerCategory id="errorDialogCustomerCategory" header-text="Error" state="Negative">
    <p>{{ localization.someThingWentWrong }}</p>
    <div class="flex flex-col gap-[5px]">
        <ui5-busy-indicator [active]="isLoading" size="M">
        </ui5-busy-indicator>
    </div>
    <div slot="footer" class="footer-style gap-8">
        <ui5-button design="Transparent" (click)="closeErrorDialog()">{{ localization.close }}</ui5-button>
    </div>
</ui5-dialog>