<div class="p-0 pb-2 box-border grid gap-2 grid-rows-[auto_1fr] grid-cols-[auto_1fr] h-full">
	<app-header-nav
		class="col-span-2"
		[isHomePage]="false"
		title='Maintenance Order'
		[showPlantSelector]="true"
		(logOutDialogEvent)="logoutDialogOpen()"
		(isSidebarCollapse)="sideNavItemCollapse()"></app-header-nav>
	<ui5-side-navigation
	    [collapsed]="isSideNavCollapsed"
		(selection-change)="sideNavigationSelectionChange($event)"
		class="border ml-3 rounded-lg h-full sapBoxShadow">
		<ui5-side-navigation-item
			id="manageMaintenance"
			text="Manage Maintenance"
			[selected]="
				router.url === '/maintenance' || router.url === '/maintenance/manage-maintenance'
			"
			i18n-text
			selected
			icon="add-equipment">
		</ui5-side-navigation-item>
		<ui5-side-navigation-item
			id="maintenanceHistory"
			text="Maintenance History"
			i18n-text
			icon="customer-history"
			[selected]="router.url === '/maintenance/maintenance-history'">
		</ui5-side-navigation-item>
		<ui5-side-navigation-item
			id="settings"
			text="Settings"
			[selected]="router.url === '/maintenance/settings'"
			i18n-text
			icon="settings">
		</ui5-side-navigation-item>
	</ui5-side-navigation>
	<div class="border h-full mr-3 overflow-hidden sapBoxShadow sapHeaderBackground rounded-md">
		<router-outlet></router-outlet>
	</div>
</div>

<ui5-dialog
	header-text="Confirm"
	[open]="isLogOutDialogOpen"
	state="Critical"
	(beforeClose)="closeDialog()">
	<div class="logout-content">
		<ui5-text i18n> Do you want to logout? </ui5-text>
		<ui5-busy-indicator
			size="M"
			[active]="isBusy"></ui5-busy-indicator>
	</div>
	<div
		class="flex flex-row justify-end items-center w-full"
		slot="footer">
		<ui5-button
			design="Emphasized"
			class="mr-[5px]"
			i18n
			id="logoutConfirmButton"
			(click)="logOut()"
			>Confirm</ui5-button
		>
		<ui5-button
			(click)="closeDialog()"
			id="logoutCancelButton"
			i18n
			>Cancel</ui5-button
		>
	</div>
</ui5-dialog>
