<div novalidate class="k-form">
    <kendo-stacklayout orientation="horizontal" [gap]="12">
        <kendo-card [style.flex]="1">
            <kendo-card-header i18n> Heat Treatment Factor </kendo-card-header>
            <kendo-card-body class="additional-cost-details-body">
                <kendo-stacklayout class="input-field" orientation="horizontal" [gap]="9">
                    <kendo-label [for]="weight_from" i18n i18n-text text="Weight From"></kendo-label>
                    <kendo-numerictextbox #weight_from name="weight_from" [step]="1" [decimals]="2" format="#.##\ kg"
                        [(ngModel)]="heatTreatmentFactor!.weight_from"></kendo-numerictextbox>
                </kendo-stacklayout>

                <kendo-stacklayout class="input-field" orientation="horizontal" [gap]="9">
                    <kendo-label [for]="weight_to" i18n i18n-text text="Weight To"></kendo-label>
                    <kendo-numerictextbox #weight_to name="weight_to" [step]="1" [decimals]="2" format="#.##\ kg"
                        [(ngModel)]="heatTreatmentFactor!.weight_to"></kendo-numerictextbox>
                </kendo-stacklayout>

                <kendo-stacklayout class="input-field" orientation="horizontal" [gap]="9">
                    <kendo-label [for]="factor" i18n i18n-text text="Factor"></kendo-label>
                    <kendo-numerictextbox #factor name="factor" [step]="1" format="n2"
                        [(ngModel)]="heatTreatmentFactor!.factor"></kendo-numerictextbox>
                </kendo-stacklayout>
                <kendo-stacklayout class="input-field" orientation="horizontal" [gap]="9">
                    <kendo-label [for]="materialGroupType" i18n i18n-text text="Material Group Type"></kendo-label>
                    <kendo-combobox
						#materialGroupType 	
						[(ngModel)]="heatTreatmentFactor!.material_group_type" 
						[data]="materialGroupTypeList" 
						[valuePrimitive]="true" 
						textField="text"
						valueField="value"
                        [filterable]="true"
                        (valueChange)="onValueChange($event)"
                        (filterChange)="handleFilter($event)">
					</kendo-combobox>	
                </kendo-stacklayout>
            </kendo-card-body>
        </kendo-card>
    </kendo-stacklayout>
</div>