<app-grid-table
	headerTitle="Shifts"
	url="/Shifts?$expand=hasShiftModels"
	i18n-headerTitle
	[showRowDataCount]="true"
	[columns]="columns"
	[showAction]="true"
	[showSearch]="true"
	[showDownload]="false"
	[showActiveButton]="true"
	button1Text="All"
	button2Text="Inactive"
	button3Text="Active"
	i18n-button1Text
	i18n-button2Text
	i18n-button3Text
	[editPermission]="authService.isPermissionValid('BASEVISU_SHIFT_EDIT')"
	addButtonText="New"
	i18n-addButtonText
	[isBaseVisu]="true"
	[showNewButton]="true"
	[enableServerSideFiltering]="true"
	selectionMode="Single"
	[model]="shift"
	(newButtonClick)="newButtonClick()"
	(deleteClick)="deleteClick($event)"
	(editClick)="editClick($event)"
	#childComponentRef>
</app-grid-table>

<app-dialog [isDialogOpen]="isDialogOpen">
	<div
		slot="header"
		class="w-100">
		<div class="pl-0">
			<ui5-title
				class="h-10 flex items-center"
				level="H5"
				>{{ dialogTitle }}</ui5-title>
		</div>
	</div>
	<ui5-busy-indicator
		[active]="isLoading"
		class="w-100"
		*ngIf="isDialogOpen"
		size="L">
		<div class="w-[550px]">
			<form
				(ngSubmit)="onSubmit(createOrUpdateForm)"
				#createOrUpdateForm="ngForm">
				<div class="flex flex-row mb-3">
					<div class="flex flex-col">
						<ui5-label show-colon>{{ localization.active }}</ui5-label>
						<ui5-switch
							id="shiftIsActiveSwitch"
							name="is_active"
							[(ngModel)]="selectedShift.is_active"></ui5-switch>
					</div>
				</div>
				<div class="grid grid-flow-row">
					<ui5-label
						show-colon
						required
						>{{ localization.id }}</ui5-label
					>
					<ui5-busy-indicator
						[active]="isLoadingCustomId"
						size="S">
						<ui5-input
							#customId="ngModel"
							[valueState]="
								customId.valid == false &&
								(customId.touched || createOrUpdateForm.submitted)
									? 'Negative'
									: customIdState
							"
							[(ngModel)]="selectedShift.custom_id"
							(input)="onChangeCustomId()"
							id="customIdInput"
							name="custom_id"
							class="w-100"
							[required]="true">
							<div slot="valueStateMessage">
								{{ customIdValueStateText }}
							</div>
						</ui5-input>
					</ui5-busy-indicator>
				</div>
				<div class="grid grid-flow-row">
					<ui5-label
						show-colon
						required
						>{{ localization.name }}</ui5-label
					>
					<ui5-input
						id="name"
						#nameInput="ngModel"
						[required]="true"
						class="w-100"
						[(ngModel)]="selectedShift.name"
						[valueState]="
							nameInput.valid == false &&
							(nameInput.touched || createOrUpdateForm.submitted)
								? 'Negative'
								: 'None'
						"
						name="name"></ui5-input>
				</div>
				<div class="grid grid-flow-col grid-cols-2 gap-x-[10px] mt-[10px]" *ngIf="isDialogOpen">
					<div class="grid grid-flow-row">
						<ui5-label
							show-colon
							i18n
							required
							>Start Time</ui5-label
						>
						<ui5-time-picker
							id="start_time"
							#startTimeInput="ngModel"
							name="start_time"
							[valueState]="startTimeTimePickerState"
							format-pattern="HH:mm"
							(change)="startTimeChange()"
							[(ngModel)]="selectedShift.start_time">
							<div
								slot="valueStateMessage"
								i18n>
								Start Time can't be empty!
							</div>
						</ui5-time-picker>
					</div>
					<div class="grid grid-flow-row">
						<ui5-label
							show-colon
							i18n
							required
							>End Time</ui5-label
						>
						<ui5-time-picker
							format-pattern="HH:mm"
							id="end_time"
							#endTimeInput="ngModel"
							[valueState]="endTimeTimePickerState"
							name="end_time"
							(change)="endTimeChange()"
							[valueState]="selectedShift.valueStateForHours"
							[(ngModel)]="selectedShift.end_time">
							<div
								slot="valueStateMessage"
								i18n>
								End Time can't be empty!
							</div>
						</ui5-time-picker>
					</div>
				</div>
				<div class="grid grid-flow-col grid-cols-4 gap-x-[10px] mt-[10px]">
					<div class="grid grid-flow-row col-span-2">
						<ui5-label
							show-colon
							i18n
							>Date To Consider</ui5-label
						>
						<ui5-combobox
							id="date_to_consider"
							class="w-100"
							[value]="
								getTranslatedDateToConsider(selectedShift.date_to_consider) || ''
							"
							(selection-change)="onChangeDateToConsider($event)"
							name="date_to_consider"
							(input)="onInputChange($event)">
							<ui5-cb-item
								*ngFor="let item of dateToConsider"
								id="{{ item.value }}"
								text="{{ item.text }}"></ui5-cb-item
						></ui5-combobox>
					</div>
					<div class="grid grid-flow-row col-span-1">
						<ui5-label
							show-colon
							i18n
							>Total Hours</ui5-label
						>
						<ui5-input
							[readonly]="true"
							[value]="selectedShift.calculateHours()"
							class="w-full"></ui5-input>
					</div>
					<div class="grid grid-flow-row col-span-1">
						<ui5-label
							show-colon
							i18n
							>Break Minutes</ui5-label
						>
						<ui5-step-input
							name="break_minutes"
							id="break_minutes"
							ngDefaultControl
							(change)="changeBreakMinutes($event)"
							[(ngModel)]="selectedShift.break_minutes"
							[min]="0">
						</ui5-step-input>
					</div>
				</div>
			</form>
		</div>
	</ui5-busy-indicator>

	<div
		slot="footer"
		class="dialog-footer">
		<ui5-button
			id="saveButton"
			design="Emphasized"
			(click)="onSubmitShift()"
			[disabled]="disableButtonDuringRequest">
			{{ localization.save }}</ui5-button
		>
		<ui5-button
			id="cancelButton"
			class="ml-8 border-none"
			(click)="closeDialog()">
			{{ localization.close }}</ui5-button
		>
	</div>
</app-dialog>

<ui5-dialog
	id="deleteDialog"
	header-text="Warning"
	state="Critical">
	<p>{{ localization.doYouWantToDeleteThisRecord }}</p>
	<div class="flex flex-col-item">
		<ui5-busy-indicator
			[active]="isLoading"
			size="M">
		</ui5-busy-indicator>
	</div>
	<div
		slot="footer"
		class="footer-style gap-8">
		<ui5-button
			class="dialogSubmit"
			design="Emphasized"
			(click)="deleteSubmit()"
			[disabled]="disableButtonDuringRequest"
			>{{ localization.ok }}</ui5-button
		>
		<ui5-button
			design="Transparent"
			(click)="closeDialogDelete()"
			>{{ localization.close }}</ui5-button
		>
	</div>
</ui5-dialog>

<ui5-dialog
	#deleteErrorDialogShift
	id="deleteErrorDialogShift"
	state="Negative"
	header-text="Error">
	<p>{{ localization.thisEntryIsBeingUsedElsewhere }}</p>
	<div
		slot="footer"
		class="deleteErrorDialogFooter">
		<ui5-button
			class="dialogCloser"
			design="Transparent"
			(click)="closeDeleteErrorDialog()"
			id="closeButton"
			>{{ localization.close }}</ui5-button
		>
	</div>
</ui5-dialog>
<ui5-dialog
	#errorDialogShifts
	id="errorDialogShifts"
	header-text="Error"
	state="Negative">
	<p>{{ localization.someThingWentWrong }}</p>
	<div class="flex flex-col-item">
		<ui5-busy-indicator
			[active]="isLoading"
			size="M">
		</ui5-busy-indicator>
	</div>
	<div
		slot="footer"
		class="footer-style gap-8">
		<ui5-button
			design="Transparent"
			(click)="closeErrorDialog()"
			>{{ localization.close }}</ui5-button
		>
	</div>
</ui5-dialog>
