<ui5-card class="rounded-xl ml-[10px] mt-[10px]" style="height: 99%;">
	<div class="h-full">
		<div class="h-[44px] flex items-center pl-4">
			<ui5-title class="text-[16px]" i18n>Settings</ui5-title>
		</div>
		<div class="h-[44px] mb-[10px]">
			<ui5-tabcontainer
				collapsed
				fixed
				(tabSelect)="onTabSelect($event)">
				<ui5-tab 
					id="generalTab" 
					text="General" 
					class="ml-[-5px]" 
					[selected]="selectedTab === 'general'" 
					i18n-text></ui5-tab>
				<ui5-tab
					*ngIf="authService.isPermissionValid(permissionEnums.PLANVISU_COLOR_SCHEME_VIEW)"
					id="colorSchemeSectionTab"
					text="Color Schemes"
                    class="ml-[-5px]"
					[selected]="selectedTab === 'color-schemes'"
					i18n-text></ui5-tab>
				<ui5-tab
					*ngIf="authService.isPermissionValid(permissionEnums.PLANVISU_COLOR_SCHEME_SORTING_VIEW)"
					id="colorSchemeSortingStructureTab"
					text="Color Schemes Sortings"
					[selected]="selectedTab === 'color-schemes-sortings'"
					i18n-text></ui5-tab>
			</ui5-tabcontainer>
		</div>
		<router-outlet></router-outlet>
	</div>
</ui5-card>

