import { CalendarModel, Column, DateHelper, Grid, Model, ResourceModel, SchedulerPro, StringHelper, Toast, ViewPresetConfig, Widget } from '@bryntum/schedulerpro';
import { BryntumGridProps, BryntumSchedulerProProjectModelProps, BryntumSchedulerProProps } from '@bryntum/schedulerpro-angular';

import { Appointment } from 'src/lib/Appointment';
import { Doctor } from 'src/lib/Doctor';

class PresetModel extends Model {
    declare preset: ViewPresetConfig;
    declare value: number;
}

// Some variables used in this demo
const startHour    = 7;
const endHour      = 20;
const schedulerPro = (widget: Widget): SchedulerPro => widget.up(SchedulerPro.type);
const grid         = (widget: Widget): Grid => widget.up(Grid.type);

export const projectProps: BryntumSchedulerProProjectModelProps = {
    autoLoad      : true,
    loadUrl       : 'assets/data/data.json',
    resourceStore : {
        modelClass : Doctor,
        sorters    : [
            { field : 'name', ascending : true }
        ]
    },
    eventStore : {
        // Unassigned events should remain in store
        removeUnassignedEvent : false,
        modelClass            : Appointment
    },
    // This config enables response validation and dumping of found errors to the browser console.
    // It's meant to be used as a development stage helper only so please set it to false for production systems.
    validateResponse : true
};

export const schedulerProProps: BryntumSchedulerProProps = {
    startDate           : new Date(2022, 2, 1, 7),
    endDate             : new Date(2022, 2, 1, 19),
    rowHeight           : 80,
    barMargin           : 10,
    eventStyle          : 'border',
    eventColor          : 'indigo',
    allowOverlap        : false,
    useInitialAnimation : false,
    resourceImagePath   : './assets/users',
    columns             : [
        {
            type           : 'resourceInfo',
            field          : 'name',
            text           : 'Doctor',
            width          : 220,
            showEventCount : false,
            showMeta       : resourceRecord => {
                const doctor = resourceRecord as Doctor;
                return `<i class="${doctor.roleIconCls}"></i>${doctor.role}`;
            }
        },
        {
            type       : 'column',
            text       : 'Hours',
            editor     : false,
            filterable : false,
            sortable   : false,
            align      : 'right',
            renderer   : ({ record, grid }) => {
                const
                    scheduler = grid as SchedulerPro,
                    calendar  = (record as ResourceModel)?.calendar as CalendarModel,
                    ranges    = calendar?.getWorkingTimeRanges?.(scheduler.startDate, scheduler.endDate);
                if (ranges?.length) {
                    const range = ranges[0];
                    return `${DateHelper.format(range.startDate, 'K')} - ${DateHelper.format(range.endDate, 'K')}`;
                }
                else {
                    return '';
                }
            }
        }
    ],

    // Custom view preset with header configuration
    viewPreset : {
        base           : 'hourAndDay',
        columnLinesFor : 1,
        headers        : [
            {
                unit       : 'd',
                align      : 'center',
                dateFormat : 'dddd'
            },
            {
                unit       : 'h',
                align      : 'center',
                dateFormat : 'HH'
            }
        ]
    },

    stripeFeature      : true,
    columnLinesFeature : true,
    filterBarFeature   : {
        compactMode : true
    },
    calendarHighlightFeature : {
        calendar : 'resource',
        // This method is provided to determine which resources are available for one or more eventRecords,
        // in order to highlight the right availability intervals
        collectAvailableResources({ scheduler, eventRecords }) {
            const appointment = eventRecords[0] as Appointment;
            return scheduler.resourceStore.query((doctor: Doctor) => doctor.role === appointment.requiredRole || !appointment.requiredRole) as ResourceModel[];
        }
    },
    // Configure event menu items with correct phrases (could also be done through localization)
    eventMenuFeature : {
        items : {
            deleteEvent : {
                text : 'Delete appointment'
            },
            unassignEvent : {
                text : 'Unschedule appointment'
            }
        }
    },
    eventDragFeature : {
        validatorFn({ eventRecords, newResource, startDate, endDate }) {
            const
                task         = eventRecords[0] as Appointment,
                doctor       = newResource as Doctor,
                { calendar } = doctor,
                valid        = doctor.role === task.requiredRole && (!calendar || (calendar as CalendarModel).isWorkingTime(startDate, endDate)),
                message      = valid ? '' : 'No available slot';

            return {
                valid,
                message : (valid ? '' : '<i class="b-icon b-fa-exclamation-triangle"></i>') + message
            };
        }
    },
    taskEditFeature : {
        editorConfig : {
            title : 'Appointment'
        },

        // Customize its contents inside the General tab
        items : {
            generalTab : {
                // Add a patient field
                items : {
                    // Add a patient field
                    orderField : {
                        type   : 'text',
                        name   : 'patient',
                        label  : 'Patient',
                        // Place after name field
                        weight : 150
                    }
                }
            }
        }
    },
    tbar : [
        {
            text     : 'Save',
            width    : 100,
            cls      : 'b-raised b-blue',
            ref      : 'saveButton',
            disabled : true,
            onClick(): void {
                Toast.show('TODO: Save data (see onSave() event for SchedulerPro)');
            }
        },
        {
            type         : 'combo',
            ref          : 'preset',
            editable     : false,
            label        : 'Show',
            value        : 1,
            valueField   : 'value',
            displayField : 'name',
            items        : [
                {
                    name   : '1 day',
                    value  : 1,
                    preset : {
                        base      : 'hourAndDay',
                        tickWidth : 45
                    }
                },
                {
                    name   : '3 days',
                    value  : 3,
                    preset : {
                        base : 'dayAndWeek'
                    }
                },
                {
                    name   : '1 week',
                    value  : 7,
                    preset : {
                        base : 'dayAndWeek'
                    }
                }
            ],
            onSelect({ record, source }) {
                const scheduler = schedulerPro(source);
                const preset    = record as PresetModel;
                const value     = preset.value;
                const startDate = DateHelper.add(DateHelper.clearTime(scheduler.startDate), startHour, 'h');
                const endDate   = DateHelper.add(startDate, value - 1, 'd');

                endDate.setHours(endHour);

                scheduler.viewPreset = preset.preset;
                scheduler.setTimeSpan(startDate, endDate);
                // reset scroll
                scheduler.scrollLeft = 0;
            }

        },
        {
            type  : 'buttongroup',
            items : [
                {
                    type    : 'button',
                    icon    : 'b-icon b-fa-chevron-left',
                    cls     : 'b-transparent',
                    onClick : ({ source }) => schedulerPro(source).shiftPrevious()
                },
                {
                    type : 'button',
                    text : 'Today',
                    cls  : 'b-transparent',
                    onClick({ source }) {
                        const scheduler = schedulerPro(source);
                        const startDate = DateHelper.clearTime(new Date());
                        scheduler.setTimeSpan(DateHelper.add(startDate, startHour, 'h'), DateHelper.add(startDate, endHour, 'h'));
                    }
                },
                {
                    type    : 'button',
                    icon    : 'b-icon b-fa-chevron-right',
                    cls     : 'b-transparent',
                    onClick : ({ source }) => schedulerPro(source).shiftNext()
                }
            ]
        },
        {
            type       : 'button',
            icon       : 'b-fa b-fa-columns',
            tooltip    : 'Toggle layout',
            ref        : 'toggle-layout', // for testing purpose
            cls        : 'b-transparent',
            toggleable : true,
            style      : 'margin-left: auto',
            onToggle   : ({ source }) => schedulerPro(source).element.parentElement?.classList.toggle('b-side-by-side')
        }
    ],
    eventRenderer({ eventRecord }) {
        return [
            {
                children : [
                    {
                        class : 'b-event-name',
                        text  : eventRecord.name
                    },
                    {
                        class : 'b-patient',
                        html  : StringHelper.xss`<div>Patient: ${(eventRecord as Appointment).patient || ''}</div>`
                    }
                ]
            }
        ];
    }
};

// Custom grid that holds unassigned appointments
export const gridProps: BryntumGridProps = {
    selectionMode : {
        cell : false
    },

    stripeFeature : true,
    sortFeature   : 'name',
    groupFeature  : {
        field : 'requiredRole',
        renderer({ groupRowFor, column }: {
            groupRowFor: string
            column: Column
        }) {
            if (column.parentIndex === 0) {
                return `Tasks for ${groupRowFor}`;
            }

            return '';
        }
    },
    columns : [
        {
            type    : 'template',
            text    : 'Appointment',
            flex    : 1,
            cellCls : 'unscheduledNameCell',

            template : ({ record }) => {
                const appointment = record as Appointment;
                return StringHelper.xss`
                        <i class="b-fa b-fa-${appointment.iconCls}"></i>
                        <div class="name-container">
                            <span>${StringHelper.encodeHtml(appointment.name)}</span>
                            <span class="patient-name">Patient: ${appointment.patient}</span>
                        </div>
                    `;
            }
        },
        {
            text  : 'Required role',
            field : 'requiredRole'
        }, {
            type     : 'column',
            icon     : 'b-icon b-fa-clock',
            width    : 80,
            align    : 'center',
            editor   : 'duration',
            field    : 'fullDuration',
            renderer : ({ record }) => {
                const appointment = record as Appointment;
                return `${appointment.duration} ${appointment.durationUnit}`;
            }
        }
    ],
    tbar : [
        {
            type : 'widget',
            tag  : 'strong',
            html : 'Unplanned appointments',
            flex : 1
        },
        {
            type    : 'button',
            icon    : 'b-fa b-fa-angle-double-down',
            cls     : 'b-transparent',
            tooltip : 'Expand all groups',
            ref     : 'expand-all', // for testing purpose
            onClick : ({ source }) => grid(source).expandAll()
        },
        {
            type    : 'button',
            icon    : 'b-fa b-fa-angle-double-up',
            cls     : 'b-transparent',
            tooltip : 'Collapse all groups',
            ref     : 'collapse-all', // for testing purpose
            onClick : ({ source }) => grid(source).collapseAll()
        }
    ],

    rowHeight                  : 65,
    disableGridRowModelWarning : true

};
