<ng-container *ngIf="isCard; else noCardImageContainer">
    <ui5-card  [ngStyle]="{'height': height}"  class="main-image-card">
        <ui5-card-header slot="header" i18n [titleText]="cardHeaderText"></ui5-card-header>
        <div class="content content-padding item-card-body" [ngStyle]="{'height': cardHeight}">
            <div class="busy-indicator" *ngIf="isLoading">
                <ui5-busy-indicator [active]="isLoading" size="M"></ui5-busy-indicator>
            </div>

            <div class="image-section" *ngIf="(settings?.is_external_dms_enabled && fileSrc) || (displayedImage && displayedImage.path)">
                <object *ngIf="fileSrc" [data]="fileSrc" type="application/pdf" (error)="resetExternalImageUrl()" width="100%" height="100%">
                    <p>Your browser does not support PDFs.</p>
                </object>
                <img *ngIf="!settings?.is_external_dms_enabled" [src]="displayedImage.path" [alt]="displayedImage.file_name ?? ''" draggable="false"/>
            </div>
            <div *ngIf="!isLoading && !displayedImage && !(settings?.is_external_dms_enabled && fileSrc)" class="no-image-section" [ngStyle]="{'height': cardHeight}">
                <span class="cursor-pointer" (click)="openImagePopUp()" i18n>No Image Found!</span>
            </div>
        </div>
    </ui5-card>
</ng-container>
<ng-template #noCardImageContainer>
    <span class="no-card-header">{{ headerTitle }}</span>
    <div class="no-card-image-container" [ngStyle]="{'height': height}"  class="image-container">
        <div class="busy-indicator" *ngIf="isLoading">
            <ui5-busy-indicator [active]="isLoading" size="M"></ui5-busy-indicator>
        </div>

        <div class="image-section" *ngIf="(settings?.is_external_dms_enabled && fileSrc) || (displayedImage && displayedImage.path)">
            <object *ngIf="fileSrc" [data]="fileSrc" type="application/pdf" (error)="resetExternalImageUrl()" width="100%" height="100%">
                <p>Your browser does not support PDFs.</p>
            </object>
            <img *ngIf="!settings?.is_external_dms_enabled" [src]="displayedImage.path" [alt]="displayedImage.file_name ?? ''" draggable="false"/>
        </div>
        <div *ngIf="!isLoading && !displayedImage && !(settings?.is_external_dms_enabled && fileSrc)" class="no-image-section" [ngStyle]="{'height': cardHeight}">
            <span i18n>No Image Found!</span>
        </div>
    </div>
</ng-template>
