<div class="p-0 pb-2 box-border grid gap-2 grid-rows-[auto_1fr] grid-cols-[auto_1fr] h-full">
	<app-header-nav
		class="col-span-2"
		title="QualiVisu"
		i18n-title
		[showPlantSelector]="true"
		(logOutDialogEvent)="logoutDialogOpen()"
		(isSidebarCollapse)="toggleSideNavCollpaseState()"></app-header-nav>
	<ui5-side-navigation
	    [collapsed]="isSideNavCollapsed"
		(selection-change)="sideNavigationSelectionChange($event)"
		class="border ml-3 rounded-lg h-full sapBoxShadow">
		@for (item of navigationItems; track $index) {
			@if (item.isPermitted) {
				<ui5-side-navigation-item
					[id]="item.id"
					[text]="item.text"
					[selected]="router.url === item.navigationRoute"
					[icon]="item.icon">
				</ui5-side-navigation-item>
			}
		}
	</ui5-side-navigation>
	<div class="border h-full mr-3 overflow-hidden sapBoxShadow sapHeaderBackground rounded-[12px]">
		<router-outlet></router-outlet>
	</div>
</div>

<app-dialog
	[isDialogOpen]="isLogOutDialogOpen"
	state="Critical"
	[title]="confirmText"
	(onBeforeClose)="closeDialog()">
	<div class="logout-content">
		<ui5-text i18n> Do you want to logout? </ui5-text>
		<ui5-busy-indicator
			size="M"
			[active]="isBusy"></ui5-busy-indicator>
	</div>
	<div
		class="flex flex-row justify-end items-center w-full"
		slot="footer">
		<ui5-button
			design="Emphasized"
			class="mr-[5px]"
			i18n
			id="logoutConfirmButton"
			(click)="logOut()"
			>Confirm</ui5-button
		>
		<ui5-button
			(click)="closeDialog()"
			id="logoutCancelButton"
			i18n
			>Cancel</ui5-button
		>
	</div>
</app-dialog>
