<ui5-dialog
	id="deleteDialog"
	header-text="Handling Units"
	i18n-header-text
	[open]="isDialogOpen">
	<div class="w-[300px] p-11">
		<ui5-input
		slot="endContent"
		class="w-full cursor-pointer"
		[value]="selectedHUCustomId"
		(input)="onSearch($event)">
		<ui5-icon
			id="valueHelpIcon"
			slot="icon"
			name="value-help"
			(click)="openDropdown()"></ui5-icon>
		</ui5-input>
		<ui5-popover
			id="HUListPopover"
			opener="valueHelpIcon"
			class="w-[400px]"
			placement="Bottom"
			[open]="isValueHelpDialog"
			(before-close)="closeDropdown()">
			<ui5-list
				id="HUList"
				class="h-[200px]"
				mode="SingleSelect"
				[growing]="'Scroll'"
				[loading]="isLoading" 
				(item-click)="onChangeHU($event)"
				(ui5LoadMore)="onLoadMore(allHU)"
				[noDataText]="noDataText">
				<ng-container *ngFor="let hu of allHU">
					<ui5-li
						id="{{ hu.id }}"
						[additionalText]="(hu.created_at | date: 'dd.MM.yyyy HH:mm') ?? hu.custom_id"
						>
						{{ hu.custom_id }}
					</ui5-li>
				</ng-container>
			</ui5-list>
		</ui5-popover>
	</div>
	<div class="flex flex-col gap-[5px]">
		<ui5-busy-indicator
			[active]="isLoading"
			size="M">
		</ui5-busy-indicator>
	</div>
	<div
		slot="footer"
		class="footer-style gap-8">
		<ui5-button
			class="dialogSubmit"
			design="Emphasized"
			[disabled]="!selectedHU || disableButtonDuringRequest"
			i18n
			(click)="printSubmit()"
			>Print</ui5-button
		>
		<ui5-button
			design="Transparent"
			(click)="closeDialog()"
			>{{ localization.close }}</ui5-button
		>
	</div>
</ui5-dialog>

<ui5-dialog
	[open]="isPrintDialogOpen"
	[state]="printDialogType"
	[headerText]="printDialogHeaderText"
	(onBeforeClose)="closePrintDialog()">
	<p>{{ printDialogMessage }}</p>

	<div
		slot="footer"
		class="footer-style gap-8">
		<ui5-button
			design="Transparent"
			(click)="closePrintDialog()"
			>{{ localization.close }}</ui5-button
		>
	</div>
</ui5-dialog>
