.image-preview-container {
	display: flex;
	align-items: center;
	column-gap: 4px;
	overflow: auto;
	padding-left: 5px;
	padding-right: 5px;
	height: inherit;
	max-height: fit-content;
}

.preview-wrapper {
	position: relative;
	display: inline-block;
}

.preview-image {
	max-width: 200px;
	max-height: 200px;
	border: 1px solid #ccc;
	border-radius: 5px;
	object-fit: cover;
}

.remove-button {
	position: absolute;
	top: 5px;
	right: 5px;
	display: none;
}

.preview-wrapper:hover .remove-button {
	display: flex;
}
