@import '../../mp-offer-details.component.scss';

kendo-label > .k-label {
    margin: 0;
    padding-top: 4px;
    padding-right: 8px;
}

.label-span{
    padding-right: 8px;
    padding-top: 4px;
    width: 200px;
}
