<div class="toolsDiv">
	<app-grid-table
		headerTitle="Inspection Points"
		[customUrl]="inspectionPointCustomUrl"
		[isCustomApiCall]="true"
		i18n-headerTitle
		[columns]="columns"
		[showAction]="false"
		[showSearch]="true"
		[showDownload]="false"
		[useOdataStyles]="false"
		button1Text="All"
		button2Text="Inactive"
		button3Text="Active"
		addButtonText="New"
		[isMultiSelectOneActive]="true"
		multiSelectOneLabelText="User Groups"
		[multiSelectOneData]="userGroupFilterItems"
		i18n-multiSelectOneLabelText
		i18n-addButtonText
		i18n-button1Text
		i18n-button2Text
		i18n-button3Text
		[showNewButton]="false"
		[enableServerSideFiltering]="true"
		[isServerSideSorting]="false"
		keyForCacheCustomDataTableColumns="inspectionPointQualivisuModule"
		(processData)="processData($event[0], $event[1])"
		[editPermission]="authService.isPermissionValid('QUALIVISU_INSPECTION_POINT_EDIT')"
		(multiSelectOneSelectionChanged)="multiSelectOneSelectionChange($event)"
		(onSearchForCustomAPI)="onSearchForCustomAPI($event)"
		(onLoadMoreForCustomAPI)="onLoadMoreForCustomAPI()"
		[segmentButtonItems]="segmentButtonItems"
		(segmentButtonChange)="segmentButtonChange($event)"
		[isBaseVisu]="false"
		selectionMode="None"
		#childComponentRef>
	</app-grid-table>
</div>
