<ui5-card class="w-[40%] m-3">
	<ui5-bar
		slot="header"
		design="Header">
		<ui5-title
			level="H5"
			slot="startContent"
			i18n-title>General Settings</ui5-title
		>
	</ui5-bar>

	<div class="p-3 mt-5">
		<ui5-title
			level="H6"
			class="mb-5"
			i18n-title>Permission</ui5-title
		>

		<div class="flex items-center mb-3 justify-between w-[400px]">
			<ui5-label showColon i18n>Creating entries in ShiftHandover via TPM/Visa</ui5-label>
			<ui5-switch
				class="ml-2"
				checked></ui5-switch>
		</div>

		<div class="flex w-[400px] justify-between">
			<ui5-label showColon i18n>Create entries in ShiftHandover when entering the reason for standby of the machine</ui5-label>
			<ui5-switch
				class="ml-2"
				checked></ui5-switch>
		</div>

		<div class="flex justify-end m-2">
			<ui5-button design="Emphasized">{{ localization.save }}</ui5-button>
		</div>
	</div>
</ui5-card>
