<ui5-card class="card-half-width">
	<ui5-bar
		slot="header"
		design="Header">
		<ui5-title
			level="H5"
			slot="startContent"
			>General Settings</ui5-title
		>
	</ui5-bar>

	<div class="settings-section">
		<p class="settings-title">Permission</p>

		<div class="setting-row">
			<span>Creating entries in ShiftHandover via TPM/Visa.</span>
			<ui5-switch checked></ui5-switch>
		</div>

		<div class="setting-row">
			<span
				>Create entries in ShiftHandover when entering the reason for standby of the
				machine.</span
			>
			<ui5-switch checked></ui5-switch>
		</div>

		<div style="margin-top: 1rem; text-align: right">
			<ui5-button design="Emphasized">Save</ui5-button>
		</div>
	</div>
</ui5-card>
